*{
  padding: 0;
  margin: 0;
}
.card {
  display:flex;
  flex-direction:column;
  width:calc(60vw - 192px);
}
.header {
    margin:0;
    font-size:1.5em;
    max-width:20ch;
  }
.container {
    margin:16px 0 24px;
    max-width:36ch;
  }